.nav-mixed {
    height: 26%;
    position: absolute;
    left: 65%;
    width: 26%;
    padding: 13px;
    z-index: 1;
    border-radius: 6px;
    top: 23px;
    background: rgba(255, 255, 255, 0.60);
}
